@tailwind base;
@tailwind components;
@tailwind utilities;


/* Overrides for react-calendar default-styles */
.react-daterange-picker--disabled {
  background-color: white !important;
  color: currentColor !important;
}

.react-daterange-picker__wrapper {
  border: none !important;
  text-align: center;
}

.react-calendar__navigation__label:disabled{
  background-color: white !important;
}

.react-calendar {
  border: none !important;
  outline: 1px solid;
  border-radius: 6px;
  padding: 4px;
}

.react-daterange-picker__inputGroup__input:invalid{
  background: white !important;
}

.react-calendar__month-view__days__day--weekend{
  color: currentColor !important;
}

/* #4f46e5: tailwind indigo-500*/
.react-calendar__tile--active{
  background-color:#4f46e5 !important;
}
